html, body {
  height: 100%; /* کل صفحه را پوشش می‌دهد */
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1; /* فضای خالی بین محتوای اصلی و فوتر را پر می‌کند */
}

footer {
  margin-top: auto; /* فوتر را به انتهای صفحه می‌برد */
  background-color: #f1f3f5;
  padding: 20px;
  text-align: center;
  width: 100%;
}
